@model Employee
@{
    Layout = "_Layout"; ViewBag.Title = "Add a Employee";
}


<h2>Enter Employee Info:</h2>

<br />
<div class="col-md-4">

    <form asp-action="AddEmployee" method="post">

        <div class="form-group">
            <label for="FirstName">First Name:</label>
            <input class="form-control" name="FirstName" />
        </div>
        <div class="form-group">
            <label for="LastName">Last Name:</label>
            <input class="form-control" name="LastName" />
        </div>
        <div class="form-group">
            <label for="Email">Email:</label>
            <input class="form-control" name="Email" />
        </div>

        <div class="form-group">
            <label for="DateOfBrith">Date of Birth:</label>
            <input class="form-control" name="DateOfBrith" />
        </div>
        <div class="form-group">
            <label for="Gender">Gender:</label>
            <input class="form-control" name="Gender" />
        </div>
        <div class="form-group">
            <label for="DepartmentId">Department:</label>
            <input class="form-control" name="DepartmentId" />
        </div>
        <div class="form-group">
            <label for="PhotoPath">Photo Path:</label>
            <input class="form-control" name="PhotoPath" />
        </div>
        <br />
        <div class="form-group row">
            <div class="col-md-6">
            <button type="submit" class="btn btn-sm btn-primary">Submit</button>
            </div>
            <div class="col-md-6" style="text-align:right">
            <h2><a asp-action="Index" class="btn btn-sm btn-secondary">Back To List</a></h2>
            </div>
        </div>
    </form>

</div>


@if (Model != null)
{
    <h2>Added Employee:</h2>

    <br />
    <div class="row col-md-4">
        <div class="col-md-6">Employee Id:</div> <div class="col-md-6"> @Model.EmployeeId</div>
        <div class="col-md-6">First Name:</div> <div class="col-md-6"> @Model.FirstName</div>
        <div class="col-md-6">Last Name:</div> <div class="col-md-6"> @Model.LastName</div>
        <div class="col-md-6">Email:</div> <div class="col-md-6"> @Model.Email</div>
        <div class="col-md-6">Date of Birth:</div> <div class="col-md-6"> @Model.DateOfBrith</div>
        <div class="col-md-6">Gender:</div> <div class="col-md-6"> @Model.Gender</div>
        <div class="col-md-6">Department Id:</div> <div class="col-md-6"> @Model.DepartmentId</div>
        <div class="col-md-6">Photo Path:</div> <div class="col-md-6"> @Model.PhotoPath</div>

    </div>
}


